# BEGIN SYSTEM HTTPS SETTING
RewriteEngine on
RewriteOptions inherit

# https でない場合、かつ localhost / 127.0.0.1 以外のアクセスの場合のみリダイレクト
RewriteCond %{HTTP:X-Forwarded-Proto} !https [NC]
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !^(localhost|127\.0\.0\.1)$ [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
# END SYSTEM HTTPS SETTING

ErrorDocument 403 /error_4xx.php
ErrorDocument 404 /error_4xx.php